.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#weatherAll {
  background-color: rgb(247, 193, 122);
}

.weatherInformationAll {
  /* background-color: #61dafb; */

  display: table;
  justify-content: center;
  align-items: center;

  margin: auto;
  padding: 50px;
}

.weatherSearch {
  background-color: aliceblue;
}

.weartherDay {
  background-color: beige;
}

.weartherCity {
  background-color: aquamarine;
}

.weartherTemperature {
  background-color: aqua;
}

.weartherIcon {
  background-color: cornsilk;
}

/*
// 날씨 정보 처리 코드
      var today = new Date();
      var year = today.getUTCFullYear();
      var month = today.getUTCMonth() + 1;
      var date = today.getUTCDate();
      var day = today.getUTCDay();
      var dayNaming = [
        "일요일",
        "월요일",
        "화요일",
        "수요일",
        "목요일",
        "금요일",
        "토요일",
      ];
      var dayName = dayNaming[day];

      setWeatherDay(year + "년" + month + "월" + date + "일 " + dayName);
      setWeatherCity(data.name);
      setWeatherTemperature(Number((data.main.temp - 273.15).toFixed(2))); // 온도 값 소수점 두 자리까지 표시
      setWeatherIcon(
        "https://openweathermap.org/img/wn/" + data.weather[0].icon + ".png"
      );
*/
